<div style="overflow:hidden">
    <h2>🖼️ Photo Gallery</h2>

    <div id="photos">
        <div style="position: fixed; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);">
            <div id="photoUploadLoader" class="heart-loader"></div>
        </div>
    </div>
    <a asp-action="Index" asp-controller="Home" class="backButton">Back</a>

</div>


@section Head
    {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha256-Vzbj7sDDS/woiFS3uNKo8eIuni59rjyNGtXfstRzStA=" crossorigin="anonymous" />
}
@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha256-yt2kYMy0w8AbtF89WXb2P1rfjcP/HTHLT7097U8Y5b8=" crossorigin="anonymous"></script>
    <script>
        $.fancybox.defaults.hash = false;
        const account = {
            name: "markandeleanorphotos"//,
            //sas: "?sv=2018-03-28&ss=bt&srt=sco&sp=rwlac&se=2020-02-16T20:33:38Z&st=2019-02-16T12:33:38Z&spr=https&sig=SqNTdYMZ8N5LdecJzQ%2Fev0NOIdDM426c29M5cGV8CtQ%3D"
        };

        var filesUploaded = 0;

        const blobUri = 'https://' + account.name + '.blob.core.windows.net';
        const blobService = AzureStorage.Blob.createBlobServiceWithSas(blobUri, account.sas);

        $(document).ready(function () {

            var dpr = (window.devicePixelRatio ==null ? 1 : window.devicePixelRatio);


            blobService.listBlobsSegmented("$root", null, (error, result) => {
                if (error) {
                    console.error(error);
                } else {
                    console.log(result);
                    $("#photos").html("");
                    var sortedEntries = result.entries.sort((a,b) => { return new Date(a.lastModified) - new Date(b.lastModified) }); 
                    for (var blob of sortedEntries) {
                        if (blob.contentSettings.contentType.startsWith("image"))
                            $("#photos").prepend("<a data-fancybox='gallery' data-fancybox-download='https://photos.markandeleanor2019.com/" + blob.name + "' href='https://images.weserv.nl/?url=https://photos.markandeleanor2019.com/" + blob.name + "&w=1280&h=720&q=65&dpr="+dpr+"'><img loading='lazy' width='200' height='200' src='https://images.weserv.nl/?url=https://photos.markandeleanor2019.com/" + blob.name + "&w=200&h=200&q=65&t=square&dpr="+dpr+"'/></a>");
                        else
                            console.warn(`Skipping an item that doesn't look like an image: ${blob.name}`);
                    }

                    $('[data-fancybox="gallery"]').fancybox({
                        buttons: [
                            "zoom",
                            "download",
                            "thumbs",
                            "fullScreen",
                            "close"
                        ],
                        transitionEffect: "slide",
                        afterShow: function (event, instance) {
                            var download = instance.opts.$orig.data('fancybox-download');
                            var $container = event.$refs.container;
                            $container.find('[data-fancybox-download]').attr('target', '_blank');

                            if (download) {
                                $container.find('[data-fancybox-download]').attr('href', download);
                            }
                        }
                    });

                    $("#photos a").each(function (i) {
                        var scale = (Math.random() + 0.5);

                        $(this).css({
                            "transform": "rotate(" + ((Math.random() * 20) - 10) + "deg) scale(" + (scale) + ")",
                            "position": "relative",
                            "z-index": Math.floor(scale * 1000),
                            "box-shadow": "3px 3px " + (22 * scale) + "px " + (7 * scale) + "px rgba(0,0,0," + (1 - (0.4 * scale)) + ")"
                        });
                    });
                }
            });
        });
    </script>
}
