.section-title h2 {
    color: #4CAF50;
}
.header-top-area {
    background-color: #4CAF50;
}

.mainmenu ul#nav > li:hover > a {
    color: #4CAF50;
}
.mainmenu ul#nav li ul.sub-menu > li:hover > a, .mega-menu:hover > a {
    color: #4CAF50;
}
.search-form {
    border-top: 1px solid #4CAF50;
}
.search-menu:hover {color: #4CAF50;}

.top-login-cart ul li:hover a, .account-usd > ul > li:hover > a {
    color: #4CAF50;
}
.top-login-cart ul li span.cn{
    background: #4CAF50; 
}
.sub-total-cart > a.view-cart:hover, .sub-total-cart > a.view-cart.active {
    background: #4CAF50 none repeat scroll 0 0;
    border: 1px solid #4CAF50;
}
.nivo_text .slider-text-1 h1 span {
    color: #4CAF50;
}
.slider-button, .default-button {
    background: #4CAF50; 
}
.slider-button:hover, .default-button:hover {
    color: #4CAF50;
}
.single-about:hover{
    border: 1px solid #4CAF50;
}
.single-about:hover .single-about-content h3{
    color: #4CAF50;
}
.single-about:hover .single-about-content h3:after{
    background: #4CAF50;
}
.plan-zoom{
    background: #4CAF50 none repeat scroll 0 0;
}
.view-all:hover{
    background: #4CAF50;
}
.view-all-area:hover:after{
    background: #4CAF50;
}
.testimonial-right{
    background: #4CAF50;
}
.single-blog-left h2{
    color: #4CAF50;
}
.single-blog-left h2:after{
    border-right: 2px dotted #4CAF50;  
}
.blog-comment ul li:hover a, a.read-more:hover, .single-blog-right h3:hover a, .footer-menu ul li:hover a{
    color: #4CAF50;
}
.footer-area p a:hover{
    color: #4CAF50;
}
.footer-social ul li:hover i, .footer-social ul li.active i{
    background: #4CAF50;
}
.shop-buttons a.more:hover {
    background: #4CAF50;
    border: 1px solid #4CAF50;
}
.slider-wrap.seven .slider-button:hover, .slider-wrap.seven .default-button:hover {
    background: #4CAF50 none repeat scroll 0 0;
}
.breadcrumb-area ul li:hover, .breadcrumb-area ul li:hover a{color: #4CAF50}
.photo-plan-content h3:hover a{
    color: #4CAF50;
}
.photo-plan-content h2{
    color: #4CAF50;
}
.groom-bride-area.story .groom-info:nth-child(2) {
    background: #4CAF50 none repeat scroll 0 0;
}
.our-story-area.story .section-title h2{color: #4CAF50}
.our-story-area.story .single-story-icon i, .story-date, .our-story-area.story .single-story-info h2:hover a {
    color: #4CAF50;
}
li.filter.active {color: #4CAF50}
.page-banner-area.sidebar .banner-content h2{
    color: #4CAF50;
}
.product-thumb ul li:hover {
    border: 3px solid #4CAF50;
} 
.product-detail.single-product-info ul.cart-metalic li:hover a.add-to-cart, .product-detail .shop-buttons ul.cart-metalic li:hover a  {
    background: #4CAF50;
    border: 2px solid #4CAF50;
}
.blog-title p{
    color: #4CAF50;
}
.blog-title h2 a:hover{
    color: #4CAF50;
}
.blog-title ul li i{
    color: #4CAF50;
}
.blog-img-content a.continue{
    color: #4CAF50;
    border: 1px solid #4CAF50;
}
.blog-img-content a.continue:hover{
    background: #4CAF50;
    border: 1px solid #4CAF50;
}
.blog-email input:last-child:hover{
    background: #4CAF50;
}
.post-info h4 a:hover{
    color: #4CAF50;
}
.tag span:hover{
    background: #4CAF50;
}
.blog-details-form button, .leave-comment button{
    background: #4CAF50;
}
.preview-2 .nivo-controlNav a:hover, .preview-2 .nivo-controlNav a.active {
    background: #4CAF50 none repeat scroll 0 0;
}
.single-address i{
    color: #4CAF50;  
}
.discount-code input[type="submit"]:hover {
    background: #4CAF50 none repeat scroll 0 0;
}
.registered-user.guest-or-user input:hover{
    color: #4CAF50;
}
.single-order-info h6 a:hover{
    color: #4CAF50;
}
.modal-product .product-info .price-box .special-price {
    color: #4CAF50 ;
}
.quick-add-to-cart .single_add_to_cart_button {
    background: #4CAF50 none repeat scroll 0 0;
}
.modal-product .product-info .see-all:hover { color: #4CAF50 }