<div id="heroBanner">
    <header></header>
    <nav>

    </nav>
    <h1 id="siteName">
        Mark &amp; Eleanor
    </h1>
    <div id="counter">
        &nbsp;
    </div>
    <div id="rsvpButton">
         <a href="~/MarkAndEleanorWedding.ics" target="_blank">📅 Add to Calendar</a>
    </div>
</div>
<div class="content">
    <div id="map">
        <h2>Where</h2>
        <div id="googleMap" style="height: 95vh;">

        </div>
    </div>
</div>
<div id="hashTag">
    <a href="https://www.instagram.com/explore/tags/markandel/" target="_blank">#MarkAndEl</a>
    <div style="padding:50px; text-align:center">
        <div id="photoUploadLoader" class="heart-loader" style="display: none; margin: 0 auto;"></div>
        <div id="photoUploadProgress" style="display:none; padding: 20px 0;"></div>
        <div class="upload-btn-wrapper">
            <button class="btn">Upload your photos here!</button>
            <input type="file" multiple id="photoUpload" accept="image/*,video/*" />
        </div>
    </div>


    <a asp-action="Index" asp-controller="Gallery">View all Photos</a>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            var weddingDate = moment.tz("2019-05-11 16:30", "Europe/Malta");
            $("#heroBanner #counter").countdown(weddingDate.toDate(), {
                elapse: true,
                //precision: 60000
            }).on('update.countdown', function (event) {
                if (event.elapsed) {
                    var totalHours = event.offset.totalDays * 24 + event.offset.hours;
                    $(this).html(event.strftime('%-D days %-H hours ago!'));
                }
                else {
                    //$(this).html(event.strftime('%-D day%!D'));
                    $(this).html(event.strftime('%-D days %-H hours'));
                    //var totalHours = event.offset.totalDays * 24 + event.offset.hours;
                    //$(this).html(event.strftime(totalHours.toLocaleString() + ' hr %M min %S sec'));
                }
            }).countdown('start');
        });

        function initMap() {
            var locations = [
                {
                    position: new google.maps.LatLng(35.826891, 14.527366),
                    markerUrl: "@Url.Content("~/images/map_markers/church-min.png")",
                    info: '<h1>Birżebbuġa Parish Church</h1><h2>Ceremony</h2>Starts at 16:00.<br/><a href="https://www.google.com/maps/dir/?api=1&destination_place_id=ChIJ793Dp8lbDhMRhmOjPYD_ZlA&destination=Parish%20Church%20of%20St%20Peter%27s%20Chains%2C%20Sajjied%2C%20Bir%C5%BCebbu%C4%A1a" target="_blank">How to get there</a>'
                },
                {
                    position: new google.maps.LatLng(35.858748, 14.397613),
                    markerUrl: "@Url.Content("~/images/map_markers/cake-min.png")",
                    info: '<h1>Chateau Buskett</h1><h2>Reception</h2>Starts at 18:30.<br/><a href="https://www.google.com/maps/dir/?api=1&destination_place_id=ChIJmSgIzHNRDhMRcZxYSn_F7Xc&destination=Chateau%20Buskett%2C%20Triq%20IL-Buskett%2C%20Siggiewi" target="_blank">How to get there</a>'
                }
            ];
            var church = { lat: 35.826891, lng: 14.527366 };
            var map = new google.maps.Map(document.getElementById('googleMap'), {
                zoom: 16,
                streetViewControl: false,
                mapTypeControl: false,
                //gestureHandling: 'none',
                //zoomControl: false,
                disableDefaultUI: true,
                styles: [
                    {
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#f5f5f5"
                            }
                        ]
                    },
                    {
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#616161"
                            }
                        ]
                    },
                    {
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "color": "#f5f5f5"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.land_parcel",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative.land_parcel",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#bdbdbd"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#eeeeee"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "labels.text",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#757575"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#e5e5e5"
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#9e9e9e"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#ffffff"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#757575"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#dadada"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#616161"
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "labels",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#9e9e9e"
                            }
                        ]
                    },
                    {
                        "featureType": "transit.line",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#e5e5e5"
                            }
                        ]
                    },
                    {
                        "featureType": "transit.station",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#eeeeee"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#c9c9c9"
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#9e9e9e"
                            }
                        ]
                    }
                ]
            });

            var bounds = new google.maps.LatLngBounds();

            locations.forEach(location => {
                var marker = new google.maps.Marker({
                    position: location.position,
                    icon: {
                        url: location.markerUrl,
                        scaledSize: new google.maps.Size(50, 50),
                        anchor: new google.maps.Point(25, 25)
                    },
                    map: map
                });
                bounds.extend(marker.position);
                var infoWindows = new google.maps.InfoWindow({
                    content: location.info
                });
                infoWindows.open(map, marker);
                marker.addListener('click', function () {
                    infoWindows.open(map, marker);
                });
            });

            map.fitBounds(bounds);
            var width = $(window).width();
            $(window).on('resize', function () {
                if ($(this).width() != width) {
                    width = $(this).width();
                    initMap();
                }
            });
        }
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDfhHqLShp8XL0-J4hHQ6wuZB3fdkLeSQ&callback=initMap"></script>

    <script>
        const account = {
            name: "markandeleanorphotos",
            sas: "?sv=2018-03-28&ss=bt&srt=sco&sp=rwlac&se=2020-02-16T20:33:38Z&st=2019-02-16T12:33:38Z&spr=https&sig=SqNTdYMZ8N5LdecJzQ%2Fev0NOIdDM426c29M5cGV8CtQ%3D"
        };

        var filesUploaded = 0;

        const blobUri = 'https://' + account.name + '.blob.core.windows.net';
        const blobService = AzureStorage.Blob.createBlobServiceWithSas(blobUri, account.sas);
        blobService.setServiceProperties({ "DefaultServiceVersion": "2015-12-11" }, function () { });

        document.getElementById('photoUpload').addEventListener('change', function () {
            document.getElementById('photoUploadProgress').innerHTML = "Uploading... ";
            $('#photoUploadLoader').show();
            $("#photoUploadProgress").show();
            for (var i = 0; i < this.files.length; i++) {
                var file = this.files[i];

                var filename = file.name.substring(0, file.name.lastIndexOf('.'));
                var ext = file.name.substring(file.name.lastIndexOf('.'));

                var blobname = Date.now() + '_' + filename + '_' + Math.random().toString(16).slice(2) + ext;

                blobService.createBlockBlobFromBrowserFile('$root',
                    blobname,
                    file,
                    {
                        contentSettings: {
                            //contentDisposition: "attachment",
                            cacheControl: "public, max-age=31536000"
                        }
                    },
                    (error, result) => {
                        if (error) {
                            console.error(error);
                        } else {
                            console.log('Upload is successful');
                            filesUploaded++;
                            if (filesUploaded < this.files.length)
                                document.getElementById('photoUploadProgress').innerHTML = "Uploading... " + (filesUploaded) + "/" + this.files.length + " uploaded";
                            else {
                                document.getElementById('photoUploadProgress').innerHTML = "All files (" + (filesUploaded) + "/" + this.files.length + ") uploaded!";
                                window.location = '@Url.Action("Index", "Gallery")';
                                $('#photoUploadLoader').hide();
                                filesUploaded = 0;
                            }
                        }
                    });
            }
        }, false);
    </script>
}
