<div id="heroBanner">
    <header></header>
    <nav>

    </nav>
    <div id="siteName">
        Mark &amp; Eleanor
    </div>
    <div id="counter">
        &nbsp;
    </div>
    <div id="rsvpButton">
        <button>Join Us</button>
    </div>
</div>
<div class="content">
    some text
</div>
@*<div id="hashTag">
    <h2>#MarkAndEleanor2019</h2>
    <script src="//assets.juicer.io/embed.js" type="text/javascript"></script>
    <link href="//assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
    <ul class="juicer-feed" data-feed-id="mark-eleanor-2019"></ul>
</div>*@

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#heroBanner #counter").countdown("2019/05/11 18:30:00", {
                elapse: false,
                precision: 60000
            }).on('update.countdown', function (event) {
                $(this).html(event.strftime('%-D day%!D'));
                }).countdown('start');
        });
    </script>
}