<div id="heroBanner">
    <header>

    </header>
    <nav>

    </nav>
    <div id="siteName">
        Mark &amp; Eleanor
    </div>
    <div id="counter">

    </div>
</div>
<div class="content">
    some text
</div>